#use_button {
	margin: 0px 0px 0px 500px;
}

#title {
	text-align: center;
	color: Gray;
}

.header {
	background-color: Gray;
	padding: 12px 28px;
}

.body {
	text-align: center;
	font-size: 150%;
}

#container {
	margin: 30px 50px;
	width: 640px;
	height: 480px;
	border: 10px #333 solid;
}

#videoElement {
	width: 640px;
	height: 480px;
	background-color: #666;
}

#snap {
	margin: -20px 0px 20px 320px;
	font-size: 20px;
}

.canvas {
	position: absolute;
	margin: -595px 830px;
	text-align: center;
	font-size: 130%;
}

#metal {
	position: absolute;
	top: 750px;
	left: 60px;
}

#orange {
	position: absolute;
	top: 750px;
	left: 230px;
}

#filters_title {
	position: absolute;
	top: 685px;
	left: 270px;
	font-size: 130%;
}

.picture_fil {
	position: absolute;
}

#download {
	position: absolute;
	margin: -335px 945px;
	font-size: 110%;
}

