#use_button {
	margin: 0px 0px 0px 500px;
}

#title {
	text-align: center;
	color: Gray;
}

.header {
	background-color: Gray;
	padding: 15px 50px;
}

.body {
	text-align: center;
	font-size: 150%;
}

#container {
	margin: 30px 50px;
	width: 640px;
	height: 480px;
	border: 10px #333 solid;
}

#videoElement {
	width: 640px;
	height: 480px;
	background-color: #666;
}

#snap {
	margin: -20px 0px 20px 320px;
	font-size: 20px;
}

#pics_title {
	margin: -560px 940px;
	text-align: inline;
	font-size: 130%;
}

#metal {
	position: absolute;
	top: 780px;
	left: 60px;
}

#orange {
	position: absolute;
	top: 780px;
	left: 230px;
}

#filters_title {
	position: absolute;
	top: 720px;
	left: 270px;
	font-size: 130%;
}

.picture_fil {
	position: absolute;
	margin: 560px 0px;;
	z-index: 1;
}

#download {
	position: absolute;
	margin: -335px 945px;
	font-size: 110%;
}

#table {
	margin: -20px 830px;
}

#upload {
	position: absolute;
	top: 700px;
	left: 150px;
}

#imgselect {
	position: absolute;
	margin: 0px 60px;
	z-index: 0;
}
